body {
    background-color: #0f172a;
    color: rgb(250, 231, 240);
}
header, main, footer,active {
    width: 1040px;
    margin: 0 auto;
}



* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}

#wrapper, #wrapper1{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 100%;
}
header{
    height: 120px;
}
main{
    padding-bottom: 100px;
}
footer{
    position: relative;
    height: 100px;
    margin-top: auto;
}
.main_img-float {
    width: 400px;
    margin-right: 40px;
    float: left;
}
#panorama {
    width: 100%;
    height: 150px;
    background: url(../img/shapka.png) no-repeat center 70%;
    background-size: cover;
}
.services_img{
    width: 240px;
}
.services_item{
    margin-left: 40px;
    margin-right: 40px;
    width: 240px;
    float: left;
}
.services_item a{
    text-decoration: none;
    color: rgb(255, 248, 252);


}
.services{
    padding: 35px;
    border: 5px;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.h1--invisible{
    visibility: hidden;
}

#logo{
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 0, 128);
    font-weight: bold;
    font-size: 24px;
    line-height: 100px;
    display: inline-block;
    width: 335;
}

.main_img-float1 {
    margin-top: 50px;
    width: 400px;
    margin: 0 auto;
    float: none;
    display: block;;
    
}

.text_about{
    text-align: justify;
    width: 450px;
    margin: 0 auto;
    margin-top: 20px;
}
h1{
    margin: 20px;
    text-align: center;
}

.footer_block, .footer_icons{
    display:inline-block;
    width: 340px;
    text-transform: uppercase;

}

.footer_icons{
    text-align: right;
    margin-left: 10px;
}
.footer_img{
    width: 30px;

}
.text_contact{
    text-align: center;
    margin-top: 30px;
    font-size: larger;



}
.pink {
    color: rgb(255, 255, 255);
}
h1, h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;

}
mark {
    background-color: rgb(245, 214, 228);
    color: rgb(233, 156, 194);
    text-transform: uppercase;
    }
.text_contact{
    text-align: center;
    margin-top: 30px;
    font-size: large;
    font-size: 25px;
}
.text_contact a{
    color: rgb(238, 219, 228);
    text-transform: uppercase;
}
#mainnav ul{
    list-style: none;
    margin: 0;
    padding-right: 0;
    word-spacing: 75px;
}
#mainnav li{
    display: inline;
}
#mainnav a{
    text-decoration: none;
}
#mainnav a:hover{
    text-decoration: underline;
}
#mainnav li.active a{
    font-weight: bold;
}
#mainnav{
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 0, 128);
    font-weight: bold;
    font-size: 24px;
    line-height: 100px;
    float:right;
    margin-right: 100px;
}
.nospace{
    word-spacing: 5px;
}
table{
    border: 5px solid #f60ad5;
    border-collapse: collapse;
    text-align: center;
    border: none;
}
tr,th{
    border: 2px solid white;
    padding: 10px;  
}
.price tr {
    border-right: none;
    border-left: none;
}
th {
    border:#041108
}
thead th {
    border-bottom: 5px solid #f60ad5;
    border-top: 5px solid #f60ad5;
}

.price th:first-child {
    width: 10%;
}
.price th:nth-child(2), .price th:last-child{
    width: 25%;}
#oooo{
    text-align: left;
}
.price tr:nth-child(even) {
    background-color: #f700ff;
}
.price tr:nth-child(odd) {
    background-color: rgb(165, 2, 197);
}
.price tr:last-child {
    border-bottom: none;
}
caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px;
    text-align: left;
}

#contact-form input{
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #eddfff;
}
#topic {
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #eddfff;
}
.form_item label {
    height: 100px;
    width: 100px;
}
#mainnav ul{
    list-style: none;
    margin: 0;
    padding-right: 0;
    word-spacing: 75px;
}
.form_item {
    width: 100%;
}
.form_item select {
    min-height: 30px;
}
#contact-form input[type="submit"] {
    background-color: #c21eeb;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    height: auto;
}
#contact-form input[type="submit"]:hover {
    background-color: #eb93e3;
}
#contact-form textarea {
    width: 100%;
    max-width: 250px;
    min-height: 150px;
    padding: 12px;
    font-size: 16px;
    resize: vertical;
    box-sizing: border-box;
}